.viewWindow {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: scroll;
	background-image: linear-gradient(#434343, #282828);
}

.stat-canvas {
	// max-height: 5000px;
	// max-width: 3000px;
	display: inline-block;
	position: absolute;
	color: #efefef;
	background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
	background-size: 50px 50px;
	z-index: -2;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.4);
		border-radius: 5px;
}

::-webkit-scrollbar {
    // width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
		transform: translateX(-5px);
}

.canvasBG {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
